/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #009C41;
    --secondaryColor: #80CEA0;
    --lightColor: #E6F5EC;
    --lightColorSecondary: #ffffff;
    --darkColor: #001007;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--lightColor);
    font-family: "Poppins", sans-serif;
}

/* Header Style */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primaryColor);
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    width: 100%;
    max-width: 1440px;
}

.headerContainer h1 {
    color: var(--lightColor);
    width: 100%;
    max-width: 150px;
}

.headerContainer .searchBar {
    outline: none;
    border: none;
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;
}

.headerContainer .search {
    font-size: 24px;
    color: var(--lightColor);
    display: none;
    margin-left: 20px;
}

/* Main Style */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    width: 100%;
    max-width: 1080px;
}

section {
    display: grid;
    gap: 10px;
    border-radius: 10px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 250px;
}

.section1 .cards {
    padding: 20px;
    width: 100%;
    background: var(--primaryColor);
    color: var(--lightColorSecondary);
    border-radius: 10px;
    cursor: pointer;
    scroll-snap-align: center;
}

.section1 .cards:hover {
    background: var(--secondaryColor);
}

.section1 .cards i {
    font-size: 24px;
    float: left;
}

.section1 .cards h3 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: end;
    margin-bottom: 10px;
}

.section1 .cards h1 {
    font-size: 42px;
    color: var(--lightColorSecondary);
    text-align: center;
}

.section2 {
    width: 100%;
}

.section2 .userCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    background: var(--lightColorSecondary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 20px;
}

.section2 .userCardContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.section2 .userCard {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section2 .userCard h3 {
    color: var(--primaryColor);
}

/* Footer Style */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primaryColor);
    width: 100%;
    padding: 20px;
    margin-top: auto;
    overflow: hidden;
}

.footerContainer h1 {
    font-size: 12px;
    color: var(--lightColor);
    font-weight: normal;
}

.footerContainer h1 a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: var(--lightColorSecondary);
}

/* Responsive */

@media (max-width: 900px) {
    .mainContainer {
        flex-direction: column;
        justify-content: space-between;
    }

    .section1 {
        width: 100%;
        max-width: none;
    }

    .section1 .cards {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc((100% - 20px) / 3);
        min-width: 230px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }
}

@media (max-width: 512px) {
    header {
        height: auto;
    }

    .headerContainer {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .headerContainer .searchBar {
        margin-left: 0;
        display: none;
    }

    .headerContainer .search {
        position: absolute;
        top: 43px;
        right: 40px;
        font-size: 24px;
        color: var(--lightColor);
        display: block;
        margin-left: 20px;
    }
}